@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Quicksand:wght@600&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 10px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  background-size: cover;
}
img:hover {
  transform: scale(1.2);
}

/*  rasgos generales */
header {
  background-color: #015e89;
}

body {
  background: #6788a3;
}

footer {
  background-color: #015e89;
}

.titulo2 {
  font-size: 40px;
}

.subtitulo2 {
  font-size: 30px;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 50px;
}

/*terminos de rasgos generales de la pagina*/
/*inicio de imagenes de la pagina*/
.imagen-portada {
  width: 100%;
  height: 800px;
  border-radius: 1px;
  object-fit: cover;
  background-size: cover;
  justify-content: space-between;
}
.imagen-portada:hover {
  transform: scale(0);
}

p {
  font-size: 25px;
}

.tarjetas1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjetas2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjetas3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjeta {
  width: 450px;
  justify-content: center;
  object-fit: cover;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* termino de peliculas de la pagina*/
/* inicio del navegador*/
nav .fa-bars {
  display: none;
}
nav .enlaces {
  list-style: none;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
nav .enlaces li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  display: block;
  padding: 40px;
  cursor: pointer;
}
nav .enlaces li a:hover {
  background-color: rgba(0, 255, 255, 0.817);
  border-radius: 8px;
  transform: scale(1.1);
}

/*termino de navegador*/
/*inicio del formulario*/
.formulario1 {
  border: solid black;
  width: 600px;
  padding: 20px 40px;
  margin: 10px auto;
  background-color: rgb(160, 221, 172);
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 8px 7px 15px 5px #000000;
}
.formulario1 .input {
  border: 2px;
  padding: 15px 120px;
  border-radius: 5px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.ingresar {
  background-color: blueviolet;
  border: solid black;
  text-align: center;
  width: 100px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}
.ingresar:active {
  background-color: rgb(168, 87, 244);
}

.formulario2 {
  border: solid black;
  width: 600px;
  padding: 40px 60px;
  margin: 10px auto;
  background-color: rgb(160, 221, 174);
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 8px 7px 15px 5px #000000;
}
.formulario2 .input {
  border: 2px;
  padding: 15px 120px;
  border-radius: 5px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.registro {
  background-color: blueviolet;
  border: solid black;
  text-align: center;
  width: 100px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}
.registro:active {
  background-color: rgb(168, 87, 244);
}

/*termino formulario*/
/* inicio footer*/
.contactos {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: center;
}
.contactos .contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactos .reclamos {
  padding: 15px;
}
.contactos .redes {
  font-size: 40px;
}
.contactos .redes .icono {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}

/*termino footer*/
@media (max-width: 639px) {
  body {
    background-color: rgba(34, 127, 214, 0.407);
  }
  header {
    background-color: rgba(23, 94, 160, 0.407);
  }
  footer {
    background-color: rgba(23, 94, 160, 0.407);
  }
  nav .enlaces {
    justify-content: left;
  }
  nav .enlaces li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 25px;
    cursor: pointer;
  }
  nav .enlaces li a:hover {
    transform: scale(1.1);
  }
  .contactos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contactos .redes {
    grid-column: 1/3;
  }
  .imagen-portada {
    width: 100%;
    height: 300px;
    border-radius: 1px;
    object-fit: cover;
    background-size: cover;
    justify-content: space-between;
  }
  .formulario1 {
    border: solid black;
    width: 400px;
    padding: 20px 40px;
    margin: 10px auto;
    background-color: rgb(160, 221, 172);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario1 input {
    border: 2px;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
  }
  .formulario2 {
    border: solid black;
    width: 400px;
    padding: 40px 60px;
    margin: 10px auto;
    background-color: rgb(160, 221, 174);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario2 input {
    border: 2px;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
  .subtitulo2 {
    font-size: 25px;
  }
}
@media (max-width: 360px) {
  body {
    background-color: rgba(56, 154, 245, 0.407);
  }
  header {
    background-color: rgba(34, 127, 214, 0.407);
  }
  footer {
    background-color: rgba(34, 127, 214, 0.407);
  }
  nav .enlaces {
    justify-content: left;
  }
  nav .enlaces li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 25px;
    cursor: pointer;
  }
  nav .enlaces li a:hover {
    transform: scale(1.1);
  }
  .contactos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contactos .redes {
    grid-column: 1/3;
  }
  .contactos .redes .icono {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
  }
  .imagen-portada {
    width: 100%;
    height: 220px;
    border-radius: 1px;
    object-fit: cover;
    background-size: cover;
    justify-content: space-between;
  }
  img {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-size: cover;
  }
  img:hover {
    transform: scale(1.2);
  }
  .tarjeta {
    width: 250px;
  }
  .formulario1 {
    border: solid black;
    width: 260px;
    height: 220px;
    padding: 20px 60px;
    margin: 10px auto;
    background-color: rgb(160, 221, 172);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario1 input {
    border: 2px;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
  }
  .formulario2 {
    border: solid black;
    width: 260px;
    height: 330px;
    padding: 20px 60px;
    margin: 10px auto;
    background-color: rgb(160, 221, 174);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario2 input {
    border: 2px;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .subtitulo2 {
    font-size: 15px;
  }
  .titulo2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body {
    background-color: rgba(56, 154, 245, 0.407);
  }
  header {
    background-color: rgba(34, 127, 214, 0.407);
  }
  footer {
    background-color: rgba(34, 127, 214, 0.407);
  }
  nav .enlaces {
    justify-content: left;
  }
  nav .enlaces li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 25px;
    cursor: pointer;
  }
  nav .enlaces li a:hover {
    transform: scale(1.1);
  }
  .contactos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contactos .redes {
    grid-column: 1/3;
  }
  .contactos .redes .icono {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
  }
  .imagen-portada {
    width: 100%;
    height: 220px;
    border-radius: 1px;
    object-fit: cover;
    background-size: cover;
    justify-content: space-between;
  }
  img {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-size: cover;
  }
  img:hover {
    transform: scale(1.2);
  }
  .tarjeta {
    width: 260px;
  }
  .formulario1 {
    border: solid black;
    width: 260px;
    height: 220px;
    padding: 20px 60px;
    margin: 10px auto;
    background-color: rgb(160, 221, 172);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario1 input {
    border: 2px;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
  }
  .formulario2 {
    border: solid black;
    width: 260px;
    height: 330px;
    padding: 20px 60px;
    margin: 10px auto;
    background-color: rgb(160, 221, 174);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario2 input {
    border: 2px;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .subtitulo2 {
    font-size: 15px;
  }
  .titulo2 {
    font-size: 18px;
  }
}
@media (min-width: 640px) {
  header {
    background-color: #015e89;
  }
  body {
    background-color: #6788a3;
  }
  footer {
    background-color: #015e89;
  }
  nav .enlaces {
    justify-content: left;
  }
  nav .enlaces li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 25px;
    cursor: pointer;
  }
  nav .enlaces li a:hover {
    transform: scale(1.1);
  }
  .formulario1 {
    border: solid black;
    width: 500px;
    padding: 20px 40px;
    margin: 10px auto;
    background-color: rgb(160, 221, 172);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario1 input {
    border: 2px;
    padding: 10px 80px;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
  }
  .formulario2 {
    border: solid black;
    width: 500px;
    padding: 40px 60px;
    margin: 10px auto;
    background-color: rgb(160, 221, 174);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 8px 7px 15px 5px #000000;
  }
  .formulario2 input {
    border: 2px;
    padding: 10px 80px;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
  }
  .contactos {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .contactos .redes {
    grid-column: 1/3;
  }
  .imagen-portada {
    width: 100%;
    height: 380px;
    border-radius: 1px;
    object-fit: cover;
    background-size: cover;
    justify-content: space-between;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  .subtitulo2 {
    font-size: 30px;
  }
}
@media (min-width: 800px) {
  header {
    background-color: #015e89;
  }
  body {
    background-color: #6788a3;
  }
  footer {
    background-color: #015e89;
  }
  nav .enlaces {
    justify-content: left;
  }
  nav .enlaces li a:hover {
    transform: scale(1.1);
  }
  .contactos {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
  }
  .contactos .reclamos {
    padding: 15px;
  }
  .contactos .contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contactos .redes {
    font-size: 40px;
    grid-column: 3/3;
  }
  .contactos .redes .icono {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
  }
  .imagen-portada {
    width: 100%;
    height: 600px;
    border-radius: 1px;
    object-fit: cover;
    background-size: cover;
    justify-content: space-between;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
  .subtitulo2 {
    font-size: 30px;
  }
}
@media (min-width: 1100px) {
  header {
    background-color: #015e89;
  }
  body {
    background-color: #6788a3;
  }
  footer {
    background-color: #015e89;
  }
  nav .enlaces {
    justify-content: end;
  }
  .contactos {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
  }
  .contactos .reclamos {
    padding: 15px;
  }
  .contactos .contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contactos .redes {
    font-size: 40px;
    grid-column: 3/3;
  }
  .contactos .redes .icono {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
  }
  .imagen-portada {
    width: 100%;
    height: 800px;
    border-radius: 1px;
    object-fit: cover;
    background-size: cover;
    justify-content: space-between;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
  .subtitulo2 {
    font-size: 30px;
  }
}
@media (max-width: 894px) {
  nav .fa-bars {
    margin: 10px;
    font-size: 30px;
    color: #d1d8de;
    order: -1;
    display: block;
  }
  nav .fa-bars:hover + .enlaces {
    left: 0;
  }
  .enlaces {
    justify-content: end;
    position: absolute;
    top: 0;
    left: -350px;
    width: 250px;
    height: 100vh;
    background-color: rgba(46, 97, 169, 0.849);
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0, 5s;
    z-index: 4;
    border-radius: 10px;
    border: 3px solid #6788a3;
  }
  .enlaces:hover {
    left: 0;
  }
  .enlaces li a {
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
