@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Quicksand:wght@600&display=swap');

*{
   font-family: 'Josefin Sans', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
@import"variables";
@import"extend";
@import"mixin";
/*  rasgos generales */

header{
    background-color:$bg-color-primary;
}
body{
    background:$bg-color-secundary;
}
footer{
    background-color:$bg-color-primary ;
}
.titulo2{
    font-size: 40px;
}
.subtitulo2{
    font-size: 30px;
}
h1{
    font-size: 75px;
}
h2{
    font-size: 50px;
}
/*terminos de rasgos generales de la pagina*/

/*inicio de imagenes de la pagina*/
img{
    @extend %img;
}
.imagen-portada{
    @include imagen-portada( 800px)

}
p{
    font-size: 25px;
    
}
.tarjetas1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tarjetas2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tarjetas3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tarjeta{
    width: 450px;
    justify-content: center;
    object-fit:cover;
}
.carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* termino de peliculas de la pagina*/

/* inicio del navegador*/
nav{ 
    .fa-bars{ 
        display: none;
    }
    .enlaces{
        list-style: none;
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        li a{
            color: black;
            text-decoration: none;
            font-size: 30px;
            display: block;
            padding: 40px;
            cursor: pointer; 
            &:hover{
                background-color: rgba(0, 255, 255, 0.817);
                border-radius:8px;
                transform: scale(1.1);
            }   
        }
        
    }
}
/*termino de navegador*/

/*inicio del formulario*/


.formulario1{
    border: solid  black;
    width:600px;
    padding:20px 40px;
    margin: 10px auto;
    background-color:rgb(160, 221, 172) ;
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow:$shadow;
    .input{
    border:2px;
    padding: 15px 120px;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    text-align:center;
    
            
    }   
}
.ingresar{
    background-color: blueviolet;
    border: solid black;
    text-align: center;
    width: 100px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
    &:active{
        background-color: rgba(168, 87, 244);

    }    
}
.formulario2{
    border: solid  black;
    width: 600px;
    padding:40px 60px ;
    margin: 10px auto;
    background-color: rgb(160, 221, 174);
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow:$shadow;
    .input{
        border:2px;
        padding: 15px 120px;
        border-radius: 5px;
        font-size: 30px;
        justify-content: center;
        text-align: center;
    }
}
.registro{
    background-color: blueviolet;
    border: solid black;
    text-align:center;
    width: 100px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
    &:active{
        background-color: rgb(168, 87, 244);
    } 
}
/*termino formulario*/
/* inicio footer*/
.contactos{
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
    justify-content: center;
    .contacto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .reclamos{
        padding: 15px;
    }
    .redes{
        font-size: 40px;
        .icono{
            width: 60px;
            height: 60px;
            object-fit: cover;
            cursor: pointer;
        }
    }
   
}
/*termino footer*/
@import"mediaquery";